<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>Online Auction System</display-name>
	<servlet>
		<servlet-name>Register</servlet-name>
		<servlet-class>com.auctionsystem.Register</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CheckUserName</servlet-name>
		<servlet-class>com.auctionsystem.CheckUserName</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>com.auctionsystem.Login</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddProducts</servlet-name>
		<servlet-class>com.auctionsystem.AddProducts</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	<jsp-config>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<scripting-invalid>false</scripting-invalid>
		</jsp-property-group>
		<jsp-property-group>
			<url-pattern>*.tag</url-pattern>
			<scripting-invalid>false</scripting-invalid>
		</jsp-property-group>
	</jsp-config>
</web-app>